:root {--bg-color: #fff;--navbar-color: #000}
.dark_mode {--bg-color: #212121;--navbar-color: #fff}
nav {
	z-index: 9999999;
	box-shadow: none !important;
	background: rgba(200,200,200,0.2) !important;
	backdrop-filter: blur(10px);
	/* border-bottom: 1px solid #505050; */
	position: fixed;
	top: 0;
	left: 0;
}
* {-webkit-tap-highlight-color: transparent;box-sizing: border-box;}

.waves-ripple {
  transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1), opacity .4s !important
}
.waves-effect:not(.waves-light, .dark_mode .waves-effect) .waves-ripple {
  background: rgba(0, 0, 0, .2) !important
}
body {
	background: white;
	padding-top: 100px;
}
.nav-wrapper {
	transition: all .2s;
}
.navHide {
	transition: all .2s;
	opacity: 0;
	margin-top: -65px;
}
.card {
	width: 100%;
	margin: 3px 0  !important;
	box-shadow: none !important;
	border-radius: 4px;
	border: 1px solid #eee;
	
}
.pollImage {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 4px;
}

.tabs .tab a{
		color:#000 !important;
		background: transparent !important
} /*Black color to the text*/

.tabs .indicator {
		background-color:#505050 !important;
} /*Color of underline*/

.btn-round {border-radius: 999px;height: auto!important;line-height:40px;text-transform:none !important;padding-left: 20px !important;padding-right: 20px !important;box-shadow: none !important}
@media only screen and (max-width: 600px) {
	.navHide {margin-top: -60px;}
}
.btn-flat i {
	color: #000 !important
}
.btn-floating {
	box-shadow: none !important
}
.progress {
	margin: 0 !important
}
.determinate {transition: all .2s}
.selected {
	background: rgba(0, 0, 0, .1) !important;
}
.disabled {pointer-events: none;cursor: not-allowed}
.iframe .nav-wrapper {
	opacity: 0 !important;
	margin-top: -65px !important;
}
.iframe body {
	padding-top: 65px !important;
}
.dark_mode body {
	background: #212121;
	color: white !important
}
.dark_mode .card {
	color: white;
	background: rgba(255,255,255,.05);
	border-color: #404040 !important
}
.dark_mode .waves-ripple {
	background: rgba(255,255,255,.2) !important
}
.dark_mode .tabs .tab a {
	color: white !important
}
.dark_mode .indicator {
	background: #fff !important
}
.dark_mode .chip {
	background: rgba(200,200,200,0.2) !important;
	color: #fff !important
}
.dark_mode .btn-floating i {
	color: white !important;
}
.dark_mode .progress {background: rgba(255,255,255, .1)  !important}
.dark_mode .determinate {background: #fff !important}




.input-border input,.input-border textarea {
  border: 1px solid #aaa !important;
  border-radius: 3px !important;
  padding-left: 10px !important;
  width: 100%;
  display: block;
  max-width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
._darkTheme .input-border label {background:var(--bg-color)!important}
.input-border input:hover,.input-border textarea:hover {
  border: 1px solid #303030 !important;
}
.input-border label,.input-border textarea {
  margin-left: 10px !important;
  background: white;
  transition: all .2s !important;
  padding: 0 4px;
  display: inline-block;
}
.dark_mode input {color:white}
.dark_mode label {background: #212121 !important}
.input-border input:focus,.input-border textarea:focus {
  border-color: var(--navbar-color) !important;
  box-shadow: 0px 0px 0px 1px var(--navbar-color) inset !important;
}
._darkTheme .input-border input:focus,._darkTheme .input-border textarea:focus {
  border-color: var(--font-color) !important;
  box-shadow: 0px 0px 0px 1px var(--font-color) inset !important;
}
.input-border .input-field input:focus + label.active,.input-border .input-field textarea:focus + label.active {
  color: var(--navbar-color) !important;
}
.input-border label.active {
  margin-left: 7px !important;
  margin-top: 8px !important
}
/* .tabs-content.carousel { height: 100vh !important; overflow-x:hidden; overflow-y: visible; padding-bottom: 50vh;} .tabs-content.carousel .carousel-item { width: 100vw; height: 100vh !important; } html,body{ overflow:hidden; height:100vh !important; } */