nav a {
  color: gray !important;
}
nav {
  box-shadow: none !important;
	background: rgba(255,255,255,.1);
	border-bottom: 1px solid #aaa;
	backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
}
body {
  margin-top: 60px;
}